/*-------------------------*/
/*------ GENERAL-----------*/
/*-------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1084px;
  margin: 0 auto;
}

.flex-box{display: flex;}



/*-------------------------*/
/*------ Login Page -------*/
/*-------------------------*/

.login-body{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color:#66c5e4;
}

.login-card{
  background-color:#95e2f9;
  border-radius: 10px;
  margin: 100px auto;
  width: 30%;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  height: auto;
}

.login-form{
  padding: 20px;
  flex-direction: column;
}

.login-form input{
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.username-group,
.password-group,
.firstname-group,
.lastname-group,
.dob-group,
.gender-group,
.password-group,
.password-confirm-group{
  margin-top: 10px;
  flex-direction: column;
}

#login-button{
  width: 25%;
  margin: 10px auto;
  padding: 8px 10px;
  text-align: center;
  margin-bottom: 10px;
}


/*-------------------------*/
/*------ Register Page ----*/
/*-------------------------*/

.register-body{ 
  height: auto;
  position: relative;
  width: 100vw;
  background-color:#66c5e4;
}

.register-form{
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
}

.register-card{ 
  margin-top: 30px;
  background-color:#95e2f9;
  border-radius: 10px;
  margin: 100px auto;
  width: 40%;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  height: auto;
}

.register-form input{
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
}

select{
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  border-radius: 5px;
}
form p{text-align: right;}

.display-box{
  flex-direction: row;
  margin: 0 10px;
  justify-content: space-between;
}

.display-box div{
  width: 47%;
}

#register-button{
  width: 25%;
  margin: 30px auto;
  padding: 8px 10px;
  text-align: center;
  margin-bottom: 10px;
}

.checkbox-group{
  margin: 0 auto;
}
..checkbox-group input{
  margin-top: 15px;
}