/*-------------------------*/
/*------ GENERAL-----------*/
/*-------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1084px;
  margin: 0 auto;
}

.flex-box{display: flex;}


/*-------------------------*/
/*------ HEADER -----------*/
/*-------------------------*/
.drop-down{
  display: none;
  text-align: center;
}
.drop-down-button{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(92, 92, 92);
}


.head-box{
  justify-content: space-between;
}
header{
  /* height: 120px; */
  width: 100%;
  padding: 20px;
  background-color: #95e1f9;
  border-bottom: 30px solid #66c5e4;
}

header h1{
  width: 140px;
  height: auto;
}

#search{
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #66c5e4;
  padding: 0 5%;
  margin-top: 10px;
  box-shadow: 3px 3px rgba(0,0,0,0.4);
}

.user-text-box{
  /* background-color: #018dad; */
  justify-content: space-between;
  padding: 0 10px;
}

.welcome-text{
 margin: auto 0;
}

.logout{
  padding: 2px;
}

#highlight{
  background-color: aqua;
}


/*-------------------------*/
/*------ CONTENTS ---------*/
/*-------------------------*/
.notFound{
  font-size: 2em !important;
}
.content-section{ 
  min-height: calc(100vh + 100px);
}

/*---- Left Section -------*/
.left-section{
  background: #f5f5f5;
  width: 18%;
  min-height: calc(100vh + 100px);
  /* float: left; */
}

nav ul{ list-style: none; }

nav ul li{
  padding: 20px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

nav ul li a{ 
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
}

nav ul li a:hover{
  color: #018dad;
}


/*---- Middle Section -------*/
.middle-section{
  display: flex;
  flex-direction: column;
  width: 64%;
  height: 100%;
  /* float: left; */
}

.top-section{ 
  padding: 10px;
  /* height: 50%; */
}

.content-area{ 
  /* float: left; */
  width: 60%;
  text-align: left;
  padding: 10px;
}

.content-area h2{ padding-bottom: 20px;}
.content-area p{ 
  padding: 10px 0;
  /* height: 200px; */
  overflow: hidden;
}
.read-more,
.read-less{ 
  margin-top: 20px;
  display: block;
}

.image-area{ 
  /* float: right; */
  width: 40%;
  padding: 10px 20px;
}



.bottom-section{
  padding: 10px;
  height: 50%;
  width: 100%;
}

table{
  width: 100%;
  text-align: left;
}

th{
  background-color: #6aa1b2;
  padding: 5px 8px;
  color: #fff;
  text-align: center;
}

td{
  position: relative;
  background-color: #95e1f9;
  padding: 10px 8px;
  color: #000;
}

td:last-child{ text-align: center; }

table button,
.read-more,
.read-less{ padding: 5px;}


/*---- Right Section -------*/
.right-section{
  width: 18%;
  min-height: calc(100vh + 100px);
  padding: 10px;
  background-color: #f5f5f5;
  /* float: right; */
}

.post-heading{ margin-bottom: 10px; }
.posts{ list-style: none; }
.posts li{ padding: 10px 0;}

.posts img{
  height: 100px;
  width: auto;
  transition: all 0.5s ease;
}
.post-image-div{ 
  position: relative;
  width: 132px;
  overflow: hidden;
}
.post-info{
  position: absolute;
  top: 40px;
  left: 40px;
  display: none;
}

.post-image-div:hover img{
  transform: scale(1.1);
  opacity: 0.3;
}

.post-image-div:hover .post-info{
  display: block;
  z-index: 999;
  font-size: 150%;
  font-weight: 400;
  color: #000;
}


/*-------------------------*/
/*------ FOOTER -----------*/
/*-------------------------*/
footer{
  /* position: fixed;
  left: 0; */
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #c7c7c7;
  /* height: 100px; */
}

.footer-elements{ 
  list-style: none;
  justify-content: space-around;
}

footer ul li{
  width: 25%;
  padding: 10px;
}

/*-------------------------*/
/*------ CONTACT FORM -----*/
/*-------------------------*/
.form{
  display: flex;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

input,
textarea,
.formBtn{
  padding: 10px;
  margin: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #000;
}

textarea{
  resize: none;
}

.label-box{
  margin-top: 10px;
  padding: 2px 10px;
  justify-content: space-between;
}
.label-box p{ 
  font-size: 12px;
  font-weight: 700;
}

.label{
  text-align: right;
  margin: 0 10px;
  padding: 0;
  border-radius: 5px;
  /* opacity: 0.8; */
  display: none;
  /* background-color: #ff0033; */
  color: #ff0033;
  transition: display 0.5s ease;
}

/*-------------------------*/
/*------ 404 page ---------*/
/*-------------------------*/
.not-found{
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  opacity: 0.5;
}

.not-found-text{
  text-align: center;
}

.not-found-image{
  width: 100px;
  height: auto;
  margin: 30px auto;
  opacity: 0.5;
}


/*-------------------------*/
/*------ Login Page -------*/
/*-------------------------*/

.login-body{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #018dad;
}

